body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 21px auto;
}

.title {
  background: #e3f4ff;
  margin: 21px;
}

.content {
  background: #e3f4ff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 21px;
}

.button-container {
  background: #e3f4ff;
  margin: 21px;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}